
<%# loads this page when user has posts to show...could of made a if loop and just have it link to same page...post MVP? %>

<div class="container">
<h1>  <%= @blog.blog_name %> </h1>

<p><a href="/user/post/create"> Create New Post </a></p>

     <% @posts.each do |post| %> 
      <p> post name: <%= post.post_name%> </p>
      <p> post content: <%= post.content %> </p>
      <p><a href=/user/post/<%= post.id %>/tags/tagit> Add Tag </a></p>

      <%# needed this where it checks if Post_tag with the post_id exists in db because it throws a error if this code tries to run when it does not exist %>
          <% if Post_tag.where(post_id: post.id) != nil %>
            <% x = Post_tag.where(post_id: post.id) %>
              <% y = x.pluck(:tag_id) %> <%# this gives all tag_id that has post_id in common...n a array %>
              <% y.each do |tag| %>
              <p><a href=/blogs/posts/tags/<%= tag %>> #<%= Tag.find_by(id: tag).tag_name %>  </a></p>
              <p><a href=/user/posts/<%= post.id %>/tags/<%= tag %>/edit> Edit Tag </a></p>
           <% end %>
          <% end %>
          <br>
          <% end %>

</div>