
<div class="container">
<h1> Welcome <%= @user.first_name %>! </h1>
	
	<p>first name: <%= @user.first_name %> </p>
	<p>last name: <%= @user.last_name %> </p>
	<p>email: <%= @user.email %> </p>
	<p>birthday: <%= @user.birth_date %> </p>
</div>


<a href=/user/<%= @user.id %>/edit><p> Edit/Delete profile </p></a>

